<!DOCTYPE html>
<html>
<head>
<title>Prediction Form</title>
</head>
<body>


<h2> Enter the details to check whether Loan is eligible ot not!</h2>

<form action="/getdata" method="post">

<table>

<td>Gender::&nbsp&nbsp&nbsp<input type='text' name='Gender' placeholder='Enter 1 for no 0 for yes' required='required'/><br>
</td></tr>
<tr>
<td>Senior_Citizen:&nbsp&nbsp&nbsp<input type='text' name='Senior_Citizen' placeholder='Enter 1 for no 0 for yes' required='required'/><br>
</td></tr>
        <tr>
<td>Partner:&nbsp&nbsp&nbsp<input type='text' name='Partner' placeholder='Enter 0 for no 1 for yes' required='required' /><br>
</td></tr>
<tr>
<td>Dependents:&nbsp&nbsp&nbsp<input type='text' name='Dependents' placeholder='Enter 0 for no 1 for yes' required='required' /><br>
</td></tr>

<tr>
<td>Tenure:&nbsp&nbsp&nbsp<input type='text' name='Tenure' placeholder='Enter 0 for 1 for 71' required='required' /><br>
</td></tr>
<tr>
<td>Phone_Service:&nbsp&nbsp&nbsp<input type='text' name='Phone_Service' placeholder='Enter 0 for no 1 for yes' required='required' /><br>
</td></tr>
<tr>
<td>Multiple_Lines:&nbsp&nbsp&nbsp<input type='text' name='Multiple_Lines' placeholder='Enter 0 for no 1 for yes 2 for No phone service' required='required' /><br>
</td></tr>
        <tr>
<td>Internet_Service:&nbsp&nbsp&nbsp<input type='text' name='Internet_Service' placeholder='Enter 0 for no 1 for yes' required='required' /><br>
</td></tr>
<tr>
<td>Online_Security:&nbsp&nbsp&nbsp<input type='text' name='Online_Security' placeholder='Enter 0 for no 1 for yes 2 for No internet service' required='required'/><br>
</td></tr>
<tr>
<td>Online_Backup:&nbsp&nbsp&nbsp<input type='text' name='Online_Backup' placeholder='Enter 0 for no 1 for yes 2 for No internet service' required='required'/><br>
</td></tr>
        <tr>
<td>Device_Protection:&nbsp&nbsp&nbsp<input type='text' name='Device_Protection' placeholder='Enter 0 for no 1 for yes 2 for No internet service' required='required'/><br>
</td></tr>
        <tr>
<td>Tech_Support:&nbsp&nbsp&nbsp<input type='text' name='Tech_Support' placeholder='Enter 0 for no 1 for yes 2 for No internet service' required='required'/><br>
</td></tr>
<tr>
<td>Streaming_TV:&nbsp&nbsp&nbsp<input type='text' name='Streaming_TV' placeholder='Enter 0 for no 1 for yes 2 for No internet service  ' required='required' /><br>
</td></tr>
<tr>
<td>Streaming_Movies:&nbsp&nbsp&nbsp<input type='text' name='Streaming_Movies' placeholder=' Enter 0 for no 1 for yes 2 for No internet service ' required='required'/><br>
</td></tr>
        <tr>
<td>Contract:&nbsp&nbsp&nbsp<input type='text' name='Contract' placeholder='Enter 0 for no 1 for yes 2 for No internet service' required='required'/><br>
</td></tr>
<tr>
<td>Paper_less_Billing:&nbsp&nbsp&nbsp<input type='text' name='Paper_less_Billing' placeholder=' Enter 0 for no 1 for yes ' required='required' /><br>
</td></tr>
<tr>
<td>Payment_Method:&nbsp&nbsp&nbsp<input type='text' name='Payment_Method' placeholder=' Enter 0 for no 1 for yes ' required='required' /><br>
</td></tr>
        <tr>
<td>Monthly_Charges:&nbsp&nbsp&nbsp<input type='text' name='Monthly_Charges' placeholder='Enter 0 for no 1 for yes 2 for No internet service' required='required'/><br>
</td></tr>
        <tr>
<td>Yearly_Charge:&nbsp&nbsp&nbsp<input type='text' name='Yearly_Charge' placeholder='Enter 0 for no 1 for yes 2 for No internet service' required='required'/><br>
</td></tr>
<tr>
<td>Admin_Tickets:&nbsp&nbsp&nbsp<input type='text' name='Admin_Tickets' placeholder=' Enter 0 for yes 1 for no ' required='required'/><br>
</td></tr>
<tr>
<td>Tech_Tickets:&nbsp&nbsp&nbsp<input type='text' name='Tech_Tickets' placeholder=' Enter 0 for Month-to-month 1 for One year 2 for Two year ' required='required' /><br>
</td></tr>

<tr><
        <br><br><center>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button></center>
</tr>

</table>
</form>

</body>
</html>